<h1><%= page_title Tengine::Resource::VirtualServerType, :edit %></h1>

<%= render 'form' %>

<%= link_to_show @virtual_server_type %> |
<%= link_to_back_list tengine_resource_virtual_server_types_path %>
