<h1><%= page_title Tengine::Resource::Credential, :edit %></h1>

<%= render 'form' %>

<div class="BoxBtns">
  <p><%= link_to_show @credential, :class => "BtnEdit" %>
  <span class="BtnWrap"><%= link_to_back_list tengine_resource_credentials_path, :class => "BtnBack" %></span></p>
</div>

