<h1><%= page_title Tengine::Resource::Credential, :new %></h1>

  <%= render 'form' %>

  <div class="BoxBtns">
    <p class="BoxActionLinksRight">
    <span class="BtnWrap"><%= link_to_back_list tengine_resource_credentials_path, :class => "BtnBack" %></span></p>
  </div>


