<h1><%= page_title Tengine::Job::Template::RootJobnet, :edit %></h1>

<%= render 'form' %>

<%= link_to_show @root_jobnet_template %> |
<%= link_to_back_list tengine_job_template_root_jobnets_path %>
