<h1><%= t(".title") %></h1>

<%= render :partial => 'form', :locals => {:status_only => true, :submit_path => tengine_job_root_jobnet_actual_jobnet_actual_path(@jobnet_actual, :root_jobnet_actual_id => @root_jobnet_actual), :cancel_path => tengine_job_root_jobnet_actual_path(@root_jobnet_actual)} %>
