development:
  sessions:
    default:
      database: tengine_console_development
      hosts:
        - '127.0.0.1:27017'
      options:
        safe: true
        read_secondary: false
        max_retries_on_connection_failure: 100

test:
  sessions:
    default:
      database: tengine_console_test
      hosts:
        - '127.0.0.1:27017'
      options:
        safe: true
        read_secondary: false
        max_retries_on_connection_failure: 100

# set these environment variables on your prod server
production:
  sessions:
    default:
      database: tengine_production
      hosts:
        - 'zbtgndb1:27017'
        - 'zbtgndb2:27017'
        - 'zbtgndb3:27017'
      options:
        safe: true
        read_secondary: false
        max_retries_on_connection_failure: 100
