<h1><%= t(".title") %></h1>

<%= render :partial => 'form', :locals => {:status_only => true, :submit_path => tengine_job_runtime_root_jobnet_path(@root_jobnet_actual), :cancel_path => tengine_job_runtime_root_jobnets_path} %>
