<h1><%= page_title Tengine::Resource::PhysicalServer, :edit %></h1>

<%= render 'form' %>

<div class="BoxBtns">
  <span class="BtnWrap"><%= link_to_back_list tengine_resource_physical_servers_path, :class => "BtnBack" %></span></p>
</div>
