<h1><%= page_title Tengine::Resource::VirtualServerImage, :edit %></h1>

<%= render 'form' %>

<%= link_to_show @virtual_server_image %> |
<%= link_to_back_list tengine_resource_virtual_server_images_path %>
