<h1><%= page_title Tengine::Job::JobnetActual, :edit %></h1>

<%= render :partial => 'form', :locals => {:status_only => true, :cancel_path => tengine_job_jobnet_actuals_path, :root_jobnet => @root_jobnet} %>
