@charset "utf-8";

/* ================================================================

CSS Information

 File name:      module.css
 Summary:        module styles
 Last update:    2009-06-22

================================================================ */

/* @group .Clearfix */

.Clearfix {
    zoom: 1 

/* for hasLayout */
}

.Clearfix:after {
    content: url(/assets/spacer.gif);
    display: block;
    clear: both;
    height: 0;
}

* html .Clearfix {
    display: inline-block
}

/* Hides from IE-mac \*/

* html .Clearfix {
    height: 1%
}

.Clearfix {
    display: block
}

/* End hide from IE-mac */

/* @end */

/* @group .Guidance */

.Guidance {
    position: absolute;
    top: 0;
/* for Opera gte 7.x */
    left: -1000em;
    width: 900em;
}

/* @end */

/* @group .SkipLink */

.SkipLink {
    position: absolute;
    top: 0;
/* for Opera gte 7.x */
    left: -1000em;
    width: 900em;
}

/* @end */

/* @group LAYOUT */
.FloatLeft {
    float: left;
    display:inline;
}
.FloatRight{
    float: right;
    display:inline;
}
.LeftFixed {
    float: left;
    display:inline;
    width: 180px;
}
.RightFixed {
    float: right;
    display:inline;
    width: 180px;
}
.LeftLiquid {
    float: left;
    display:inline;
    margin-right: -200px;
    width: 100%;
}
.RightLiquid {
    float: right;
    display:inline;
    margin-left: -200px;
    width: 100%;
}
	.RightLiquid div.Section {
	    margin-left:210px;
	    position: relative;
	    zoom:1; /* for IE6-7 */
	}

/* @end */

/* @group text-align */

.TextAlignLeft {
    text-align: left !important;
}

.TextAlignRight {
    text-align: right;
}

.TextAlignCenter {
	clear: both;
    text-align: center;
}

/* @end */

/* @group Table */


/* @group TableBase */
 
table.TableBase {
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    border: 0;
    border-right: 1px solid #fff;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

table.TableBase th,
table.TableBase td {
	border: 0;
	border-right: 1px dotted #ccc;
	border-bottom: 1px solid #ccc;
}

table.TableBase th {
    padding: 5px 10px;
    font-weight: normal;
    text-align: left;
}

table.TableBase td {
    padding: 10px 10px;
    text-align: left;
}
table.TableBase th.Last,
table.TableBase td.Last {
	border-right: 0;
}
/* 偶数行 */
table.TableBase tr:nth-child(even) {
	background-color: #EDEDED;
}

table.TableBase thead th {
	color: #fff;
    text-align: center;
    padding: 5px;
	background: #999999 url(/assets/bg_th.png) repeat-x left bottom;
	white-space: nowrap;
}
table.TableBase thead th a {
	display: block;
	padding:4px 18px 0 15px;
	min-height: 25px;
	color: #fff;
	font-weight: bold;
    text-align: center;
	background:url(/assets/btn_topbtm.png) no-repeat right top;
}
table.TableBase thead th a:hover,
table.TableBase thead th a.SortAsc,
table.TableBase thead th a.SortDesc:hover {
	color: #ffa;
	background-position: right -50px;
}

table.TableBase thead th a.SortAsc:hover,
table.TableBase thead th a.SortDesc {
	color: #ffa;
	background-position: right -100px;
}

table.TableBase td {
    
}

table.TableBase td table {
    padding: 5px 10px;
    text-align: left;
}

table.TableBase td table th {
    text-align: center;
}
table.TableBase td table td {
    
}

col.RowTitle{
	
}
col.RowSort{
	width: 70px;
}
col.RowAction{
	width: 150px;
}
col.RowW80	{ width: 80px; }
col.RowW100	{ width: 100px; }
col.RowW150	{ width: 150px; }
col.RowW200	{ width: 200px; }

/* @end */

/* @group .TableForm4rows */
table.TableForm4rows {
	border: none;
}
table.TableForm4rows thead th {
	padding: 5px 10px;
	text-align: center;
	font-weight: normal;
    background-color: #E0F2D8;
}
table.TableForm4rows tbody th {
	width: 20px;
	white-space: nowrap;
	text-align: right;
	font-weight: normal;
	background: none;
	border: none;
}
table.TableForm4rows tbody td {
	padding: 5px 10px;
	border: none;
	text-align: left;
}
table.TableForm4rows tbody .CelRow1,
table.TableForm4rows tbody .CelRow4 {
	width: 100px;
}

table.TableForm4rows tbody .CelRow2{
	width: 240px;
}
table.TableForm4rows tbody .CelRow3 {
	width: auto;
}
table.TableForm4rows tbody .CelRow5 {
	width: auto;
	padding: 0 !important;
}


table.TableFormPreview tbody tr td {
	font-weight: bold;
}
table.TableFormPreview tbody .CelRow1,
table.TableFormPreview tbody .CelRow4 {
	width: 100px;
}

table.TableFormPreview tbody .CelRow2{
	width: 120px;
}
table.TableFormPreview tbody .CelRow3 {
	width: 30px;
}
table.TableFormPreview tbody .CelRow5 {
	width: auto;
	padding: 5px 10px !important;
}

/* @end */


/* @group .TableInfoView */

table.TableInfoView {
	border: 1px solid #ccc;
}
table.TableInfoView tbody th,
table.TableInfoView tbody td {
	padding: 5px 10px;
	background: none;
	border: none;
}

table.TableInfoView tbody th {
	width: 20px;
	white-space: nowrap;
	text-align: right;
	font-weight: normal;
}
table.TableInfoView tbody td {
	text-align: left;
	font-weight: bold;
}
table.TableInfoView tbody .CelRow1,
table.TableInfoView tbody .CelRow2,
table.TableInfoView tbody .CelRow3,
table.TableInfoView tbody .CelRow4 {
	width: 1px;
	white-space: nowrap;
}
table.TableInfoView tbody .CelRow5 {
	width: 50%;
}

/* @end */

/* @end */

/* @group .PageStats */
.PageStats {
	display: inline;
	float: left;
	margin-top: 10px;
	margin-right: 15px;
}
.PageInfo{
	margin-right: 10px;
	padding-top: 3px;
	float: left;
}
/* @group .PageNation */

.PageNation {
	float: left;
	display: inline;
	padding:0 0 5px 0;
	text-align:right;
}
.PageNation div.disabled { display: none; }

.PageNation span.current,
.PageNation a {
	display:inline-block;
	overflow:hidden;
	margin:0 1px;
	padding:2px 4px 2px 5px;
	border: 1px solid #82ADEA;
	font-size:0.9em;
	line-height:16px;
	background-color: #fff;
	text-align:center;
}
.PageNation span.current, 
.PageNation a:hover {
	background-color: #82ADEA;
	color:#FFFFFF;
	text-decoration:none;
	border: 1px solid #82ADEA;
}

a.LinkPreviousposts{
	display: inline;
	float: left;
	margin-bottom: 10px;
}
a.LinkNextposts{
	display: inline;
	float: right;
}

.PageNationTop {
	margin-bottom: 20px;
	padding-bottom: 8px;
}
.PageNationBottom {
	margin-top: -15px;
}

/* @end */

/* @end */

/* @group Box */

.BoxBtns {
	margin: 20px 0 10px 0;
	text-align: center;
}


/* @group .BoxActionLinksRight */
.BoxActionLinksRight {
	display: inline;
	float: right;
}

/* @end */

.BorderBox {
	margin: 1em 0;
	padding: 1.2em;
	border: 3px solid #DBD9CC;
}


.BoxScroll {
	overflow: auto;
	padding: 10px 20px;
	height: 300px;
	background-color: #fff;
}

.BoxSearchForm {
	padding: 20px;
	border: 1px solid #ccc;
}

/* @end */

/* @group .YamlView */

.YamlView {
	position: relative;
	margin-top: 3px;
	color: #06C;
}
.IconYaml{
	cursor: pointer;
	z-index: 1;
}
.YamlScript {
	display: none;
	position: absolute;
	top: 20px; left: 0;
	padding: 10px;
	border: 1px solid #06C;
	border-radius:1px;
	box-shadow: 1px 1px 3px #aaa;
	
	color: #06C;
	background-color: #fff;
	line-height: 1.4;
	white-space: nowrap;
	z-index: 9999;
}

.YamlScript .Close {
	position: absolute;
	top: 5px; right: 5px;
	display: inline-block;
	padding-top: 12px;
	width: 12px; height: 0;
	overflow: hidden;
	cursor: pointer;
	background: url(/assets/btn_close.png) no-repeat left top;
	
}

/* @end */

/* @group .TreeViewContents */
	
.TreeViewContents {
	position: relative;
}
.TreeViewContents:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .TreeViewContents             { zoom: 1; } /* IE6 */
*:first-child+html .TreeViewContents { zoom: 1; } /* IE7 */
	#main .DataView {
		float: left;
		display: inline;
		width: 100%;
	}
		#main .DataView .Wrap {
			min-width: 500px;
			margin-left: 225px;
			padding: 0;
		}
	.TreeView {
		float: left;
		display: inline;
		width: 220px;
		margin-left: -100%;
		font-size: 13px;
		line-height: 1.1;
	}

#main .DataView .Wrap h2 {
	float: left;
	margin-top: 0;
	border: 0;
}
/* @end */

